@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }
.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}


h1 {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1.2rem;
}
form input{
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: transparent;
}
button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: #000000;
    cursor: pointer;
    background: #fff;
}
button:hover{
    background: rgba(247, 3, 234, 0.877);
}
input:focus{
    border: 1px solid rgb(192, 192, 192);
}
.terms{
    
    margin-top: 0.2rem;
}
.terms input{
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}
.terms label{
    font-size: 0.7rem;
}
.terms a{
    color: rgb(148, 10, 167);
    text-decoration: none;
}
.member{
   
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #fff; 
}
.member a{
    color: rgb(148, 10, 167);
    text-decoration: none;
}